body{
font-family: Arial;
}
.header{
background-color:lightblue;
color:white;
text-align:center:
padding:20px;
}
.navbar {
    background-color: #333;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
}
.navbar a:hover {
    background-color: #ff9800;
    color: black;
    border-radius: 5px;
}
.content {
    padding: 30px;
    text-align: center;
    min-height: 300px;
}
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 15px;
}

@media (min-width:600px){
}
          
