body{
background-image:url("kirket.jpg");
background-repeat: no repeat;
background-size: cover;
background-position: center;
background-attachment: fixed:
height: 100px;
margian: 1;
}
.navbar {
    background-color: #333;
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 10px;
    justify-content: center;
}

.navbar li {
    margin: 0 20px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    transition: 0.3s;
}

/* Hover effect */
.navbar a:hover {
    background-color: #ff9800;
    color: black;
    border-radius: 5px;